/* Utility */
.rounded--lg {
  border-radius: 2rem;
}

/** Gloabl Elements*/
.app-wrapper {
  padding-left: 5rem;
}

.app-wrapper__nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5rem;
}

.app-wrapper__filter-bar {
  top: -2rem;
  z-index: 2;
}
